<table class="table table-striped">
  <thead>
    <% attributes.each do |attr| %>
      <th><%= attr.humanize %></th>
    <% end %>
    <th></th>
  </thead>
  <tbody>
    <% smart_listing.collection.each do |user| %>
      <tr class="editable" data-id="<%= user.id %>">
        <%= smart_listing.render object: user, partial: "users/user",
          locals: { object: user } %>
      </tr>
    <% end %>
    <%= smart_listing.item_new colspan: colspan, link: new_user_path %>
  </tbody>
</table>
<% # Render nice pagination links fitted for Bootstrap 3 by default %>
<%= smart_listing.paginate %>
<%= smart_listing.pagination_per_page_links %>
