<table class="table table-striped">
  <thead>
    <% attributes.each do |attr| %>
      <th><%= attr.humanize %></th>
    <% end %>
    <th></th>
  </thead>
  <tbody>
    <% smart_listing.collection.each do |resource| %>
      <tr class="editable" data-id="<%= resource.id %>">
        <%= smart_listing.render object: resource, partial: 'item',
          locals: { object: resource } %>
      </tr>
    <% end %>
    <%= smart_listing.item_new colspan: colspan, link: new_item_path %>
  </tbody>
</table>
<% # Render nice pagination links fitted for Bootstrap 3 by default %>
<%= smart_listing.paginate %>
<%= smart_listing.pagination_per_page_links %>
